.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
    color: antiquewhite;
}

.cart-details{
    display: flex;
    color: antiquewhite;
    align-items: center;
    /*justify-content: center;*/
}

.cart-details img{
    width: 40%;
    height: 130px;
    border-radius: 50%;
    margin: 10px;
}