.products-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.all-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 0px 30px;
    color: antiquewhite;
}

.cart-container{
    background-color: #282c34;
    border: 5px solid whitesmoke;
}

.cart-container h2{
    color: antiquewhite;
}

.cart-button{
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

