.products-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: re;
}

.all-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 0px 30px;
    color: antiquewhite;
}

.cart-container{
    background-color: #282c34;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    margin-right: 10px;
}

/* .fixed-postion{
   position: sticky;
   top: 0;
} */

.cart-container h1, h2{
    color: antiquewhite;
}

.cart-button{
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.choose-img{
    width: 250px;
    height: 200px;
    margin-top: 35px;
    border-radius: 10px;
}

.show-choose{
    display: none;
}

@media screen and (max-width:600px){
    .products-container{
        grid-template-columns: 100%;
    }

    .all-products{
        padding-bottom: 30px;
        grid-template-columns: 100%;
    }
}